.right{
    font-size: 14px;
.box{
    border-bottom: 1px solid rgb(167, 167, 167);
}
    span{
        font-weight: 500;
    }
    .javascript{
        .yellow{
            width: 10px;
            height: 10px;
            background-color: #f1e05a;
            border-radius: 100%;
        }
    }
}